<!-- START SIDEBAR-->
<nav class="page-sidebar" id="sidebar">
  <div id="sidebar-collapse">
    <div class="admin-block d-flex">
      <div>
        <img src="./assets/img/admin-avatar.png" width="45px" />
      </div>
      <div class="admin-info">
        <div class="font-strong">James Brown</div><small>Administrator</small>
      </div>
    </div>
    <ul class="side-menu metismenu">
      <li>
        <a href="index.html"><i class="sidebar-item-icon fa fa-th-large"></i>
          <span class="nav-label">Dashboard</span>
        </a>
      </li>
      <li class="heading">ADMINISTRATIVO</li>
      <li>
        <a href="javascript:;"><i class="sidebar-item-icon fa fa-edit"></i>
          <span class="nav-label">Cadastros</span><i class="fa fa-angle-left arrow"></i></a>
        <ul class="nav-2-level collapse">
          <li>
            <a routerLinkActive="active" routerLink="/produtos">Atendimento</a>
          </li>
          <li>
            <a routerLinkActive="active" routerLink="/categorias">Categoria</a>
          </li>
          <li>
            <a routerLinkActive="active" routerLink="/comunidades">Comunidade</a>
          </li>

          <li>
            <a routerLinkActive="active" routerLink="/representantes">Representantes</a>
          </li>
          <li>
            <a routerLinkActive="active" routerLink="/empresas">Empresas</a>
          </li>
          <li>
            <a routerLinkActive="active" routerLink="/visitantes">Visitantes</a>
          </li>
        </ul>
      </li>

      <li class="heading">DOCUMENTOS</li>

      <li>
          <a href="javascript:;"><i class="sidebar-item-icon fa fa-book"></i>
            <span class="nav-label">Documentos</span><i class="fa fa-angle-left arrow"></i></a>
          <ul class="nav-2-level collapse">
            <li>
              <a routerLinkActive="active" routerLink="/memorandos">Memorando</a>
            </li>
            <li>
              <a href="text_editors.html">Oficio</a>
            </li>
            <li>
              <a href="text_editors.html">Propositura</a>
            </li>
          </ul>
        </li>
    </ul>
  </div>
</nav>
<!-- END SIDEBAR-->
