<!-- START SIDEBAR-->
<nav class="page-sidebar" id="sidebar">
  <div id="sidebar-collapse">
    <div class="admin-block d-flex">
      <div>
        <img src="./assets/img/admin-avatar.png" width="45px" />
      </div>
      <div class="admin-info">
        <div class="font-strong">James Brown</div><small>Administrator</small>
      </div>
    </div>
    <ul class="side-menu metismenu">
      <li>
        <a href="index.html"><i class="sidebar-item-icon fa fa-th-large"></i>
          <span class="nav-label">Dashboard</span>
        </a>
      </li>
      <li class="heading">ATUALIZAÇÕES</li>
      <li>
        <a href="javascript:;"><i class="sidebar-item-icon fa fa-edit"></i>
          <span class="nav-label">Cadastros</span><i class="fa fa-angle-left arrow"></i></a>
        <ul class="nav-2-level collapse">
          <li>
            <a routerLinkActive="active" routerLink="/produtos">Produtos</a>
          </li>
          <li>
            <a routerLinkActive="active" routerLink="/fornecedores">Fornecedores</a>
          </li>
          <li>
            <a routerLinkActive="active" routerLink="/clientes">Clientes</a>
          </li>
          <li>
            <a href="form_validation.html">Grupos de Produto</a>
          </li>
          <li>
            <a href="text_editors.html">Centro de Custo</a>
          </li>
          <li>
            <a href="text_editors.html">Usuarios</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="javascript:;"><i class="sidebar-item-icon fa fa-bar-chart"></i>
          <span class="nav-label">Movimentações</span><i class="fa fa-angle-left arrow"></i></a>
        <ul class="nav-2-level collapse">
          <li>
            <a routerLinkActive="active" routerLink="/solicitacao-armazem">Solicitação ao Armazém</a>
          </li>
          <li>
            <a href="charts_morris.html">Solicitação de Compras</a>
          </li>
          <li>
            <a href="chartjs.html">Pedido de Compra</a>
          </li>
        </ul>
      </li>

      <li class="heading">RELATÓRIOS</li>

      <li>
          <a href="javascript:;"><i class="sidebar-item-icon fa fa-book"></i>
            <span class="nav-label">Relatórios</span><i class="fa fa-angle-left arrow"></i></a>
          <ul class="nav-2-level collapse">
            <li>
              <a href="charts_flot.html">Solicitação ao Armazém</a>
            </li>
            <li>
              <a href="charts_morris.html">Solicitação de Compras</a>
            </li>
            <li>
              <a href="chartjs.html">Pedido de Compra</a>
            </li>
          </ul>
        </li>
    </ul>
  </div>
</nav>
<!-- END SIDEBAR-->
