<app-bread-crumb page-title="Categorias" [items]="[{text: 'Categorias', icon: 'fa-edit'}]">
</app-bread-crumb>

<app-panel-container [isLoading]="loadingResources" button-link="new" panel-title="Lista de Categorias" button-text="Novo" button-icon="fa-plus">

  <table class="table table-striped table-bordered table-hover table-responsive">
    <thead class="thead-default">
      <tr>
        <th>Descrição</th>
        <th class="text-center tamanho-acoes">Ações</th>
      </tr>
    </thead>

    <tr *ngFor="let categoria of resources">

      <td>
        <strong>{{categoria.descricao}}</strong>
      </td>

      <td class="text-center">
        <button title="Editar" [routerLink]="[categoria.id, 'edit']" class="m-r-5 btn-acoes">
          <i class="fa fa-pencil font-14"></i>
        </button>
        <button title="Excluir" (click)="deleteResource(categoria)" class="m-r-5 btn-acoes">
          <i class="fa fa-trash font-14"></i>
        </button>
      </td>
    </tr>
  </table>

</app-panel-container>
