<app-bread-crumb page-title="oficios" [items]="[{text: 'oficios', link: '/oficios'} , {text: pageTitle}]">
</app-bread-crumb>

<app-panel-container [isLoading]="loadingResources" button-link="/oficios" [panel-title]="pageTitle" button-text="Voltar" button-icon="fa-arrow-left">

  <form [formGroup]="resourceForm" (submit)="submitForm()">

    <div class="row">
      <!-- destinatario -->
      <div class="col-md-6">
        <app-form-container for="assunto" label="Assunto" [form-control]="resourceForm.get('assunto')">
          <input type="text" placeholder="Assunto" class="form-control" id="assunto" formControlName="assunto">
        </app-form-container>
      </div>

      <div class="col-md-6">

        <app-form-container for="data" label="Data" [form-control]="resourceForm.get('data')">
          <p-calendar id="data" formControlName="data" inputStyleClass="form-control" dataType="string"
             dateFormat="dd/mm/yy" [locale]="ptBR" [showButtonBar]="true">
          </p-calendar>
        </app-form-container>
      </div>

      <div class="col-md-6">
        <app-form-container for="situacao" label="Situação" [form-control]="resourceForm.get('situacao')">
        <select class="form-control" name="situacao" id="situacao" formControlName="situacao" [compareWith]="selectEnumComparator">
           <option *ngFor="let item of situacao | keys" [ngValue]="item.key">{{item.value}}</option>
        </select>
        </app-form-container>
      </div>
    </div>

    <div class="row">

      <div class="col-6">
        <app-form-container for="solicitante" label="Solicitante" [form-control]="resourceForm.get('solicitante')">
          <input type="text" placeholder="Solicitante" class="form-control" id="solicitante" formControlName="solicitante">
        </app-form-container>
      </div>

    </div>

    <div class="row">
      <div class="col-12">
        <app-form-container for="resumo" label="Resumo" [form-control]="resourceForm.get('resumo')">
          <input type="text" placeholder="Resumo" class="form-control" id="resumo" formControlName="resumo">
        </app-form-container>
      </div>
    </div>

  <app-server-error-messages [server-error-messages]="serverErrorMessages"></app-server-error-messages>

    <div class="row">
      <div class="form-group col-md-12">
        <button class="float-right" pButton [disabled]="submittingForm || resourceForm.invalid" type="submit"
          label="Salvar" icon="pi pi-check"></button>
      </div>
    </div>
  </form>

</app-panel-container>
