<app-bread-crumb page-title="Empresas" [items]="[{text: 'Empresas'}]">
</app-bread-crumb>

<app-panel-container button-link="new" panel-title="Lista de Empresas" button-text="Novo" button-icon="fa-plus">

  <table class="table table-striped table-bordered table-hover table-responsive">
    <thead class="thead-default">
      <tr>
        <th>CNPJ</th>
        <th>Razão</th>
        <th>Representante</th>
        <th>Telefone</th>
        <th class="text-center">Ações</th>
      </tr>
    </thead>

    <tr *ngFor="let empresa of resources">

      <td>
        <strong>{{empresa.cnpj}}</strong>
      </td>
      <td>
        {{empresa.razao}}
      </td>
      <td>
        {{empresa.representante}}
      </td>
      <td>
        {{empresa.telefone}}
      </td>

      <td class="text-center">
        <button title="Editar" [routerLink]="[empresa.id, 'edit']" class="m-r-5 btn-acoes">
          <i class="fa fa-pencil font-14"></i>
        </button>
        <button title="Excluir" (click)="deleteResource(empresa)" class="m-r-5 btn-acoes">
          <i class="fa fa-trash font-14"></i>
        </button>
      </td>
    </tr>
  </table>

</app-panel-container>
