@import "src/styles.scss";

div.page-heading {
  padding: 5px;
  margin: -20px 0px 20px -6px;
  h1 {
    color: $cinza-primario;
    text-transform: uppercase;
  }

  a:hover {
    border-bottom: 1px solid $azul-primario;
    transition: all 0.2s;
  }
}
