<app-bread-crumb page-title="Visitantes" [items]="[{text: 'Visitantes'}]">
</app-bread-crumb>

<app-panel-container [isLoading]="loadingResources" button-link="new" panel-title="Lista de Visitantes" button-text="Novo" button-icon="fa-plus">
  <table class="table table-striped table-bordered table-hover table-responsive">
    <thead class="thead-default">
      <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>Tipo</th>
        <th>Bairro</th>
        <th>Celular</th>
        <th class="text-center">Ações</th>
      </tr>
    </thead>

    <tr *ngFor="let visitante of resources">

      <td>
        <strong>{{visitante.nome}}</strong>
      </td>
      <td>
        {{visitante.cpf}}
      </td>
      <td>
        {{tipoPessoaEnum[visitante.tipo]}}
      </td>
      <td>
        {{visitante.endereco.bairro}}
      </td>
      <td>
        {{visitante.celular}}
      </td>

      <td class="text-center">
        <button title="Editar" [routerLink]="[visitante.id, 'edit']" class="m-r-5 btn-acoes">
          <i class="fa fa-pencil font-14"></i>
        </button>
        <button title="Excluir" (click)="deleteResource(visitante)" class="m-r-5 btn-acoes">
          <i class="fa fa-trash font-14"></i>
        </button>
      </td>
    </tr>
  </table>

</app-panel-container>
