<app-bread-crumb page-title="atendimentos" [items]="[{text: 'Atendimentos', link: '/atendimentos', icon: 'fa-edit'} , {text: pageTitle}]">
</app-bread-crumb>


<app-panel-container [isLoading]="loadingResources" button-link="/atendimentos" [panel-title]="pageTitle" button-text="Voltar" button-icon="fa-arrow-left">

  <form [formGroup]="resourceForm" (submit)="submitForm()">

    <div class="row">

      <div class="col-4">
        <app-form-container for="atendente" label="Atendente" [form-control]="resourceForm.get('atendente')">
          <input type="text" placeholder="Atendente" class="form-control" id="atendente" formControlName="atendente">
        </app-form-container>
      </div>


      <div class="col-4">
        <app-form-container for="protocolo" label="Protocolo" [form-control]="resourceForm.get('protocolo')">
          <input type="text" placeholder="Protocolo" class="form-control" id="protocolo" formControlName="protocolo">
        </app-form-container>
      </div>

      <div class="col-md-4 ui-fluid">
        <app-form-container for="data" label="Data" [form-control]="resourceForm.get('data')">
           <p-calendar [dateFormat]="'dd/mm/yy'" id="data" formControlName="data" inputStyleClass="form-control" dataType="date" [locale]="ptBR" [showButtonBar]="true">
           </p-calendar>
         </app-form-container>
       </div>

    </div>

    <div class="row">

       <div class="col-md-4">
        <app-form-container for="situacao" label="Situação" [form-control]="resourceForm.get('situacao')">
        <select class="form-control" name="situacao" id="situacao" formControlName="situacao" [compareWith]="selectEnumComparator">
           <option *ngFor="let item of situacao | keys" [ngValue]="item.key">{{item.value}}</option>
        </select>
        </app-form-container>
      </div>


     <div class="col-md-4">
      <app-form-container for="categoria" label="Categoria" [form-control]="resourceForm.get('categoria')">
      <select class="form-control" name="categoria" id="categoria" formControlName="categoria" [compareWith]="selectComparator">
         <option *ngFor="let categoria of categorias" [ngValue]="categoria">{{categoria.descricao}}</option>
      </select>
      </app-form-container>
    </div>

      <div class="col-md-4 ui-fluid">
        <app-form-container for="prazo" label="Prazo" [form-control]="resourceForm.get('prazo')">
           <p-calendar [dateFormat]="'dd/mm/yy'" id="prazo" formControlName="prazo" inputStyleClass="form-control" dataType="date" [locale]="ptBR" [showButtonBar]="true">
           </p-calendar>
         </app-form-container>
       </div>


    </div>


    <div class="row">

       <div class="col-6">
        <app-form-container for="solicitacao" label="Solicitação" [form-control]="resourceForm.get('solicitacao')">
          <input type="text" placeholder="Solicitação" class="form-control" id="atendsolicitacaoente" formControlName="solicitacao">
        </app-form-container>
      </div>


      <div class="col-6">
        <app-form-container for="indicacao" label="Indicação" [form-control]="resourceForm.get('indicacao')">
          <input type="text" placeholder="Indicação" class="form-control" id="indicacao" formControlName="indicacao">
        </app-form-container>
      </div>

    </div>

    <div class="row">

      <div class="col-md-6">
        <app-form-container for="visitante" label="Visitante" [form-control]="resourceForm.get('visitante')">
          <select class="form-control" name="visitante" id="representante" formControlName="visitante" [compareWith]="selectComparator">
             <option *ngFor="let visitante of visitantes" [ngValue]="visitante">{{visitante.nome}}</option>
          </select>
        </app-form-container>
      </div>


      <div class="col-md-6">
        <app-form-container for="comunidade" label="Comunidade" [form-control]="resourceForm.get('comunidade')">
          <select class="form-control" name="comunidade" id="comunidade" formControlName="comunidade" [compareWith]="selectComparator">
            <option *ngFor="let comunidade of comunidades" [ngValue]="comunidade">{{comunidade.nome}}</option>
          </select>
        </app-form-container>
      </div>

    </div>

  <app-server-error-messages [server-error-messages]="serverErrorMessages"></app-server-error-messages>

    <div class="row">
      <div class="form-group col-md-12">
        <button class="m-top float-right" pButton [disabled]="submittingForm || resourceForm.invalid" type="submit"
          label="Salvar" icon="pi pi-check"></button>
      </div>
    </div>
  </form>

</app-panel-container>
