<!--<app-bread-crumb page-title="atendimentos" [items]="[{text: 'Atendimentos', link: '/atendimentos', icon: 'fa-edit'} , {text: pageTitle}]">
</app-bread-crumb>


<app-panel-container [isLoading]="loadingResources" button-link="/atendimentos" [panel-title]="pageTitle" button-text="Voltar" button-icon="fa-arrow-left">

  <form [formGroup]="resourceForm" (submit)="submitForm()">

    <div class="row">

      <div class="col-12">
        <app-form-container for="nome" label="Nome" [form-control]="resourceForm.get('nome')">
          <input type="text" placeholder="Nome" class="form-control" id="nome" formControlName="nome">
        </app-form-container>
      </div>

    </div>

    <div class="row">

      <div class="col-6">
        <app-form-container for="cpf" label="CPF" [form-control]="resourceForm.get('cpf')">
          <input [imask]="{mask: '000.000.000-00'}" type="text" placeholder="CPF" class="form-control" id="cpf" formControlName="cpf">
        </app-form-container>
      </div>

      <div class="col-6">
        <app-form-container for="rg" label="RG" [form-control]="resourceForm.get('rg')">
          <input [imask]="{mask: '0000000'}" type="text" placeholder="RG" class="form-control" id="rg" formControlName="rg">
        </app-form-container>
      </div>

    </div>


    <div class="row">

      <div class="col-6">
        <app-form-container for="email" label="E-mail" [form-control]="resourceForm.get('email')">
          <input type="email" placeholder="E-mail" class="form-control" id="email" formControlName="email">
        </app-form-container>
      </div>

      <div class="col-6">
        <app-form-container for="celular" label="Celular" [form-control]="resourceForm.get('celular')">
          <input [imask]="{mask: '(00)00000-0000'}" type="text" placeholder="Telefone" class="form-control" id="celular" formControlName="celular">
        </app-form-container>
      </div>

    </div>

    <div class="row">

      <div class="col-md-6">
        <app-form-container for="sexo" label="Sexo" [form-control]="resourceForm.get('sexo')">
        <select class="form-control" name="sexo" id="sexo" formControlName="sexo" [compareWith]="selectEnumComparator">
           <option *ngFor="let item of sexoEnum | keys" [ngValue]="item.key">{{item.value}}</option>
        </select>
        </app-form-container>
      </div>

      <div class="col-md-6">
        <app-form-container for="tipo" label="Tipo de Pessoa" [form-control]="resourceForm.get('tipo')">
        <select class="form-control" name="tipo" id="tipo" formControlName="tipo" [compareWith]="selectEnumComparator">
           <option *ngFor="let item of tipoPessoa | keys" [ngValue]="item.key">{{item.value}}</option>
        </select>
        </app-form-container>
      </div>


    </div>


    <div class="row" formGroupName="endereco">
      <p-panel class="col-12" header="Endereço">
        <p-progressBar *ngIf="isConsultandoCep" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
        <div class="row">
          <div class="col-md-4">
            <app-form-container for="cep" label="CEP" [form-control]="resourceForm.get('endereco.cep')">
            <input [imask]="{mask: '00000-000'}" (change)="changeCep($event.target.value)" type="text" placeholder="CEP" class="form-control" id="cep" formControlName="cep">
          </app-form-container>
          </div>

          <div class="col-md-8">
            <app-form-container for="logradouro" label="Logradouro" [form-control]="resourceForm.get('endereco.logradouro')">
            <input type="text" placeholder="Logradouro" class="form-control" id="logradouro" formControlName="logradouro">
            </app-form-container>
          </div>

        </div>

        <div class="row">

          <div class="col-md-4">
            <app-form-container for="numero" label="Número" [form-control]="resourceForm.get('endereco.numero')">
            <input type="text" placeholder="Número" class="form-control" id="numero" formControlName="numero">
          </app-form-container>
          </div>

          <div class="col-md-8">
            <app-form-container for="complemento" label="Complemento" [form-control]="resourceForm.get('endereco.complemento')">
            <input type="text" placeholder="Complemento" class="form-control" id="complemento" formControlName="complemento">
            </app-form-container>
          </div>

        </div>

        <div class="row">

          <div class="col-md-4">
            <app-form-container for="bairro" label="Bairro" [form-control]="resourceForm.get('endereco.bairro')">
            <input type="text" placeholder="Bairro" class="form-control" id="bairro" formControlName="bairro">
            </app-form-container>
          </div>

          <div class="col-md-4">
            <app-form-container for="cidade" label="Cidade" [form-control]="resourceForm.get('endereco.cidade')">
            <input type="text" placeholder="Cidade" class="form-control" id="cidade" formControlName="cidade">
          </app-form-container>
          </div>

          <div class="col-md-4">
            <app-form-container for="estado" label="Estado" [form-control]="resourceForm.get('endereco.estado')">
              <select class="form-control" name="estado" id="estado" formControlName="estado" [compareWith]="selectEnumComparator">
                <option *ngFor="let item of estados | keys" [ngValue]="item.key">{{item.value}}</option>
             </select>
            </app-form-container>
          </div>
        </div>
      </p-panel>
    </div>

  <app-server-error-messages [server-error-messages]="serverErrorMessages"></app-server-error-messages>

    <div class="row">
      <div class="form-group col-md-12">
        <button class="m-top float-right" pButton [disabled]="submittingForm || resourceForm.invalid" type="submit"
          label="Salvar" icon="pi pi-check"></button>
      </div>
    </div>
  </form>

</app-panel-container>-->
